<h1>New Question</h1>
<%= form_for :askprovider, url: askproviders_path do |f| %>
  <p>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </p> 
 
  <p>
    <%= f.submit %>
  </p>
  <%= link_to 'Back', askproviders_path %>
<% end %>
