
<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Fakarny</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>

</head>

<body>
  
<div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>

<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
<p class="navbar-text pull-right">



<% if user_signed_in? %>


 <br>
 <%= link_to 'Create a New page!', new_page_path %>
 <%= link_to "All Pages", {controller: "pages", action:"index" }, class:"btn btn-primary btn-block" %>


<br></br> 


 <%= link_to 'Propose a Matfakarny!', new_matfakarny_path %>
<%= link_to "All Matfakarnies", {controller: "matfakarnies", action:"index" }, class:"btn btn-primary btn-block" %>

<br></br> 


  <%= link_to 'Edit your profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
 





  Logged in as <strong><%= current_user.email %></strong>.



<% else %>
 
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

<% end %>


</body>
</html>
