<h1>Create a New Page</h1>
<%= form_for :page, url: pages_path do |f| %>
  <p>
    <%= f.label :providername %><br>
    <%= f.text_area :providername %>
  </p>
 
  <p>
    <%= f.label :providerinfo %><br>
    <%= f.text_area :providerinfo %>
  </p>
 <p>
    <%= f.label :contactus %><br>
    <%= f.text_area :contactus %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>