
<p>
   <%= image_tag @page.picture.url if @page.picture? %>
    
  </p>
  <p>
  <strong>Provider Name:</strong>
  <%= @page.providername %>
</p>
 
<p>
  <strong>About Us:</strong>
  <%= @page.providerinfo %>
</p>
<p>
  <strong>Contact Us:</strong>
  <%= @page.contactus %>
</p>
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
<%= link_to 'createevent', new_event_path %>
