
<p>
  
<%= image_tag @page.picture_url.to_s if @page.picture_url.present? %>    
  </p>
  <p>
  <strong>Provider Name:</strong>
  <%= @page.providername %>
</p>
 
<p>
  <strong>About Us:</strong>
  <%= @page.providerinfo %>
</p>
<p>
  <strong>Contact Us:</strong>
  <%= @page.contactus %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
