
<p>
  
<%= image_tag @page.picture_url.to_s if @page.picture_url.present? %>    
  </p>
  <p>
  <strong>Provider Name:</strong>
  <%= @page.providername %>
</p>
 
<p>
  <strong>About Us:</strong>
  <%= @page.providerinfo %>
</p>
<p>
  <strong>Contact Us:</strong>
  <%= @page.contactus %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |

<%= link_to 'Back', pages_path %>
<%= link_to 'createevent', new_event_path %>


	

<% @follow = FollowProvider.find_by(user_id: current_user.id, page_id: @page.id) %>
<%  if @follow.nil? %>

	

#<%= link_to "Follow" , {controller: "pages", action: "follow", user_id: current_user.id, page_id: @page.id}  %>

<% else %>

<%= link_to "unFollow-btn" , {controller: "pages", action: "unfollow", user_id: current_user.id, page_id: @page.id}  %>

<%end%>