<h1>New Profile</h1>

<%= form_for :profile, url: profiles_path do |f| %>  

    <%= f.label :name  %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :age %><br>
    <%= f.text_area :age %>
  </p>
  <p>
    <%= f.label :city  %><br>
    <%= f.text_area :city %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
