
<%= form_for @answer, :url => {:controller => "answers", :action => "create"} , :method => "post"  do |f| %>
  <p>
    <%= f.label :answerer %><br>
    <%= f.text_field :answerer %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
    <%= f.hidden_field :askprovider_id, value: params[:id] %>
  <p>
    <%= f.submit "Reply" %>
  </p>
<% end %>